extends ../layouts/common
block content
    h1 Create user
    form(method="POST", action="/users/create", class="d-flex")
        label Name
        input(type="text", name="name", class="form-control")
        button(class="btn btn-primary") Create